
{{define "main"}}
<div class="item item-header" style="margin-bottom: 5%">
<h3 style="margin-bottom:0px">404 - Nicht gefunden</h3>
<p>Die Seite, die Sie versuchen zu erreichen, existiert nicht.</p>
<a href="/equipment" class="btn btn-primary btn-block thin-black-border" style="font-size:larger; padding: 3px 7px">Zur Equipment-Suche</a>
</div>
{{end}}
